.bg-nav{
  background-color: rgb(188, 223, 247);
}
.cart {
  position: relative;
}
.cart-qty {
  background-color: #ce8339;
  min-height: 30px;
  min-width: 30px;
  text-align: center;
  border-radius: 50%;
  color: white;
  padding: 5px;
  position: absolute;
  left: 35px;
  bottom: 10px;
}
.add-btn {
  outline: none;
  border: none;
  background-color: #d19457;
  padding: 0px 10px;
  border-radius: 5px;
  color: white;
  transition: all 0.5s;
}
.add-btn:hover {
  background-color: #ce8339;
}
.view {
  background-color: rgb(9, 118, 145);
}
.view:hover {
  background-color: rgb(4, 86, 107);
}
.single-item{
  width: 30%;
  margin: auto;
}
.delete-btn {
  width: 40px;
  height: 40px;
  border: 1px solid rgb(83, 83, 83);
  border-radius: 50%;
  cursor: pointer;
  transition: all ease-in-out 0.7s;
  outline: none;
}

.delete-btn:hover {
  transform: scale(1.2) rotate(360deg);
  background-color: rgba(199, 10, 10, 0.658);
}